<!-- CSS Reset -->
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  
  <!-- Milligram CSS minified -->
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
<style>
#grad1 {
  height: 100%;
    width: 100%;
  background-image: linear-gradient(to bottom right,DeepPink,MidnightBlue); /* Standard syntax (must be last) */
   /* For browsers that do not support gradients */
}
</style>
<div id="grad1">
<nav class="navbar navbar-static-top navbar-inverse navbar-right">
<div class="col-sm-11 offset-sm-6 text-center">
    <button type="button" class="btn btn-md btn-danger"><a (click)="logout()">Logout</a>
</button></div>
</nav>

<h1>Roger</h1>

<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{'from': message.sentBy === 'bot',
                                    'to': message.sentBy === 'user'}">
    {{ message.content }}

  </div>

</ng-container>

<label for="nameField"> Your Message</label>
<input placeholder="Type a message. Hit Enter to send" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text"><br>

<button (click)="sendMessage()"> Send </button>
</div>
